<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LalpurjaNepalClone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F1AB836297AE28900D5EEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F1AB846297AE28B00D5EEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F1AB850297AE28B00D5EEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
